// Replace this with sass option if I want to customise the Bulma theme
@use '../node_modules/bulma/css/bulma.min.css';

footer {
  background-color: black !important;
  padding: 1rem 2rem !important;
}

.has-text-line-through {
  text-decoration: line-through;
}

.has-letter-spacing {
  letter-spacing: 3px;
}

.content-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-main {
  flex: 1;
}

.has-crow-font {
  font-family: 'October Crow';
  font-size: 2.2rem !important;
}

.ghost-info-accordion-content {
  border-left: 3px solid var(--bulma-dark);
  margin-left: 2.6rem !important;
}

li::marker {
  color: var(--bulma-primary);
}
