@import 'bulmaswatch/cyborg/bulmaswatch.scss';
@font-face {
  font-family: 'October Crow';
  src: url(./fonts/october_crow.ttf) format('truetype');
}

.tag {
  border-bottom: $dark solid 5px;
  border-top: $dark solid 5px;
}

.tag.is-selected {
  border-bottom: $success solid 5px;
}

.has-letter-spacing {
  letter-spacing: 3px;
}

.has-hover-text-link-dark:hover {
  @extend .has-text-link-dark;
}

.content-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-main {
  flex: 1;
}

.has-crow-font {
  font-family: "October Crow";
  font-size: 2.2rem !important;
}

.ghost-info-accordion-content {
  border-left: 3px solid $dark;
  margin-left: 2.6rem !important;
}

.button:focus {
  box-shadow: unset !important;
  border-color: $dark !important;
  color: unset !important;
}

.tabs.is-boxed li.is-active a {
  background-color: #242424 !important;
  color: $white !important;
}
